mixin twoColumnNoImg(data)
    if !data
        - var data = {};
    section.container
        .two-column__wrap
            h3.two-column-noImg__titleTop= data.titleTop
            .two-column__row
                .two-column__col.two-column-noImg__col
                    h4.two-column-noImg__titleColumn= data.titleColumn1
                    p= data.textColumn1
                .two-column__col.two-column-noImg__col
                    h4.two-column-noImg__titleColumn= data.titleColumn2
                    p= data.textColumn2   
