mixin twoColumn(data)
    if !data
        - var data = {};
    section.container
        .two-column__wrap
            .two-column__row(class=`${data.class ? data.class : ''}`)
                .two-column__col
                    if data.desc
                        span.desc-text
                            each item in data.desc
                                span= item
                    if data.titleIsH1
                        h1.h3= data.title
                    else if data.titleIsH2
                        h2.h3= data.title
                    else
                        div.h3= data.title
                    .img-square-wrap
                        .img-square(class=`img-square ${data.color}`)
                            img(src=`${data.img}`)
                    if data.list
                        ul.style-ul
                            each item in data.list
                                li= item
                    if data.text
                        p
                            | Lantana Style is committed to helping you discover the most flattering and cohesive look for your unique style, shape, and circumstances. We will give you the tools to not only look your best, but also to understand each step we have taken and why. The foundation we create will allow you to move forward with more confidence in how you present yourself to the world.
                        p
                            | While training with the #[a(href="#") London Image Institute], I learned how to create a cohesive image that blends aspects of your personality and features with a wardrobe that projects who you are and want to be in both a professional and personal light.
                    if data.textAbout
                        p
                            | Lynn is a certified member of the Association of Image Consultants International. She trained under Lynne Marks, the president of London Image Institute and former department head at the London College of Fashion.
                        p
                            | Lynn also holds a Master of Business Administration degree from Christian Brothers University in Memphis and a Masters degree in audiology from Ole Miss, Lynn’s real-world experience serves her clients well.
                        p
                            | She has worked as a clinical audiologist in several leading healthcare centers, including St. Jude Children's Research Hospital. Having witnessed the confidence and positive self-image that successful treatment of hearing loss brought about, Lynn decided to study image consulting as a way to further enhance people's ability to communicate their strengths and gain the trust of others. 
                    if data.textContact
                        p.two-column__textContact
                            | I’d love to hear from you. Feel free to drop me a note or call me
                    if data.textWardrobe
                        p
                            | We can help you clarify your personal style and cull any components of your wardrobe that do not reflect the image you want to project.
                    if data.textHair
                        p
                            | We can help you identify the colors and shades of makeup that best complement your skin tones. Based on your professional environment and facial features, Lantana Style can also help you find a hairstyle consistent with your personal and professional image.
                    if data.textShoppingClothing
                        p
                            | With a love of fashion and textiles, along with her training in color theory, we will help select the most flattering colors and fabrics for your individual characteristics. When it comes to accessorizing, we’ll make recommendations based on your body type and facial characteristics, for the most flattering shapes and sizes in jewelry and handbags.
                    if data.textShoppingBridal
                        p
                            | Planning a wedding can be one of the happiest but also most stressful times in a woman’s life. Allow us to help you understand the shape of your body and which dress style most complements your figure. We will also help you find just the right shade of white to enhance your skin tone and make sure your hairstyle and makeup come together in the most cohesive and aesthetically pleasing way.
                    if data.textPublicSpeaking
                        p
                            | We can share specific strategies for developing greater confidence in public speaking, which enable you to communicate your message more effectively, demonstrate your expertise and gain the confidence and respect of your audience.
                    if data.autor
                        p.quote= data.autor
                    if data.buttonText
                        a.btn(href=`${data.buttonLink}`)= data.buttonText
                    if data.form
                        p
                            | Contact me today for all of your image consulting needs.
                        form.form
                            input(type="text", placeholder="Name").input
                            input(type="email", placeholder="Email").input
                            textarea(placeholder="Message").input
                            button.btn send message
                .two-column__col
                    .img-square-wrap
                        .img-square(class=`img-square ${data.color}`)
                            img(src=`${data.img}`)
            if data.form
                .call__col
                    .call
                        .call__text
                            | Or call:
                        a.call__phone(href="tel:+8722056969") (872) 205-6969
