mixin twoColumn(data)
    if !data
        - var data = {};
    .container
        .two-column__wrap
            .two-column__row(class=`${data.class ? data.class : ''}`)
                .two-column__col
                    if data.desc
                        span.desc-text
                            each item in data.desc
                                span= item
                    div.h3= data.title
                    .img-square-wrap
                        .img-square(class=`img-square ${data.color}`)
                            img(src=`${data.img}`)
                    if data.list
                        ul.style-ul
                            each item in data.list
                                li= item
                    if data.text
                        p
                            | Lantana Style is committed to helping you discover the most flattering and cohesive look for your unique style, shape, and circumstances. We will give you the tools to not only look your best, but also to understand each step we have taken and why. The foundation we create will allow you to move forward with more confidence in how you present yourself to the world.
                        p
                            | While training with the #[a(href="#") London Image Institute], I learned how to create a cohesive image that blends aspects of your personality and features with a wardrobe that projects who you are and want to be in both a professional and personal light.
                    if data.autor
                        p.quote= data.autor
                    if data.buttonText
                        a.btn(href=`${data.buttonLink}`)= data.buttonText
                    if data.form
                        p
                            | Contact me today for all of your image consulting needs.
                        form.form
                            input(type="text", placeholder="Name").input
                            input(type="email", placeholder="Email").input
                            textarea(placeholder="Message").input
                            button.btn send message
                .two-column__col
                    .img-square-wrap
                        .img-square(class=`img-square ${data.color}`)
                            img(src=`${data.img}`)
            if data.form
                .call__col
                    .call
                        .call__text
                            | Or call:
                        a.call__phone(href="tel:+8722056969") (872) 205-6969
